:host {
  display: block;
}

.category-menu {
  // max-width: 250px;
  box-sizing: border-box;
  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 5px;
    width: 100%;
    flex-wrap: wrap;
    li {
      width: 30%;
      display: flex;
      gap: 15px;
      padding-bottom: 5px;
      max-height: 100px;
      padding: 8px 5px;
      box-sizing: border-box;
      cursor: pointer;
      text-transform: capitalize;
      &:hover {
        text-decoration: underline;
      }
      img {
        width: 20%;
        height: 100%;
        box-sizing: border-box;
      }
      .title {
        align-self: center;
      }
    }
  }
  .category {
    padding: 5px 15px;
  }
}
