.search-input {
  margin-left: 5%;
  box-sizing: border-box;
  width: 90%;
  input {
    padding: 5px;
    border: 1px solid blueviolet;
    border-radius: 5px;
    width: 65%;
    box-sizing: border-box;
  }
}
